.active 
{
    background-color: rgb(245, 245, 245);
}

h2
{
    font-size: 2em; 
}

p 
{
    font-size: 1.5em;
}

img
{
    border: 1px solid #ddd;
    border-radius: 2%;
    padding: 5px;
    width: 100%;
    height: auto;
}

.carousel-item > img 
{
    border: 1px solid #ddd;
    border-radius: 2%;
    padding: 5px;
    width: 100%;
    height: 600px;
}

.TextArea
{
    margin: 5%;
}
.card
{
    width: 100%;
    height: 100%; 
}

.AboutText > p
{
    margin-top: 1%;
}